---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <b>Hi Hi!</b><br />
    Thanks for dropping by my site page. <p>
      I’m <b>Ade Firman F</b> — just a regular guy who loves to explore new tools
      to make my workflow faster. <p>
        Right now I using Neovim as my main editor, plus tmux to manage my
        sessions. Everything is also terminal-based.<p>
          Most of the time, I do finance projects, help the finance team save
          time, and do less manual work. I also got a bit of blockchain, not an
          expert, but understand enough to play around. Sometimes I just like to
          try new tech, tweak things and see how to make it more efficient.
        </p>
      </p>
    </p>
  </main>
</Layout>
